.App {
  display: flex;
  gap: 1rem;
  padding: 3rem;
}

.prodContainer {

  overflow: scroll;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.prodInv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.singleProd {
  border: 1px solid black;
  text-align: center;
  width: 150px;
  padding: 1rem;
  margin: 10px;
}

.singleProd img {
  width: 100%;
}

.selected {
  border: 1px dashed orangered;
}